<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/samir/IdeaProjects/RestAssuredDemo">
        <classes>
            <class name="com.restapitests.GetTests">
                <methods>
                    <include name="getEmployeeDetails"/>
                    <include name="getEmployeeDetailsWithResource"/>
                </methods>
            </class>
            <class name="com.restapitests.PostTest">
                <methods>
                    <include name="createEmployeeDetailsUsingPlainJson"/>
                    <include name="createEmployeeDetailsUsingJsonFile"/>
                    <include name="createEmployeeDetailsUsingJavaObject"/>
                    <include name="createEmployeeDetailsUsingJsonObject"/>
                    <include name="createEmployeeDetailsUsingPojo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>